.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
}

.name {
    font-weight: 500;
    color: #111;
    text-wrap: pretty;
}

.title {
    font-weight: 400;
    font-size: 1rem;
    color: #444;
    margin-block: 1rem;
    font-family: inherit;
    letter-spacing: -0.025rem;
}

.separator {
    border-top: 1px solid #f2f2f2;
    margin-block: 1rem;
}

.time {
    font-size: 0.7rem;
    color: #555;
}