html {
  font-family: Menlo, Monaco, Lucida Console, 'courier new', Courier, monospace;
  background-color: #fff;
  letter-spacing: -0.025rem;
}

body,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #505050;
  }

  &.active {
    color: #000;
  }

}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}

main {
  padding: 4rem;
  margin: 0 auto;
  width: 100%;
}

@media screen and (width <=600px) {
  main {
    padding: 1rem;
  }
}




/* @media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
    color: #e0e0e0;
  }
} */